body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: rgb(130, 143, 238);
    background-color: rgb(192, 255, 203);
}

.container {
    background-color: green;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}

h1 {
    margin-bottom: 30px;
}

form {
    display: flex;
    justify-content: space-between;
}

input[type="text"] {
    width: 70%;
    padding: 10px;
    background-color: pink;

}

button {
    padding: 7px 14px;
    cursor: pointer;
    background-color: blueviolet;
}

ul {
    list-style: none;
    padding: 2px;
}

li {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    display: flex;
    justify-content: space-between;
}

li button {
    background-color: orange;
    color: white;
    border: none;
    cursor: pointer;
}
